.default-color0.chart-series-area-line { -fx-stroke: rgb(128,128,128,0.7); }
.default-color1.chart-series-area-line { -fx-stroke: rgb(255,50,50,0.7); }
.default-color2.chart-series-area-line { -fx-stroke: rgb(0,255,0,0.7); }
.default-color3.chart-series-area-line { -fx-stroke: rgb(0,0,255,0.7); }
.default-color0.chart-series-area-fill { -fx-fill: rgb(70,77,77); }
.default-color1.chart-series-area-fill { -fx-fill: rgb(135,55,55); }
.default-color2.chart-series-area-fill { -fx-fill: rgb(55,100,65); }
.default-color3.chart-series-area-fill { -fx-fill: rgb(40,74,115); }
.default {
    -fx-background-color: transparent; /* 设置默认背景色为透明 */
}
.chart-plot-background {
    -fx-background-color: rgb(255,255,255,0); /* 设置默认背景色为透明 */
}

.chart-x-axis {
    -fx-opacity: 0; /* 隐藏X轴 */
}

.chart-y-axis {
    -fx-opacity: 0; /* 隐藏Y轴 */
}