.default-color0.chart-series-area-line { -fx-stroke: rgb(128,128,128,0.7); }
.default-color1.chart-series-area-line { -fx-stroke: rgb(255,50,50,0.7); }
.default-color2.chart-series-area-line { -fx-stroke: rgb(0,255,0,0.7); }
.default-color3.chart-series-area-line { -fx-stroke: rgb(0,0,255,0.7); }
.default-color0.chart-series-area-fill { -fx-fill: rgb(70,77,77); }
.default-color1.chart-series-area-fill { -fx-fill: rgb(135,55,55); }
.default-color2.chart-series-area-fill { -fx-fill: rgb(55,100,65); }
.default-color3.chart-series-area-fill { -fx-fill: rgb(40,74,115); }
.chart-plot-background {
    -fx-background-color: rgb(255,255,255,0); /* 设置默认背景色为透明 */
}
#histogramChart {
    -fx-min-width: 310px; /* 设置最小宽度 */
    -fx-min-height: 220px; /* 设置最小高度 */
    -fx-max-width: 310px; /* 设置最大宽度 */
    -fx-max-height: 220px; /* 设置最大高度 */
    -fx-pref-width: 310px; /* 设置首选宽度 */
    -fx-pref-height: 220px; /* 设置首选高度 */
}


